<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieWeb App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Welcome to MovieWeb App!</h1>
        <div class="mt-3">
            <a href="{{ url_for('list_users') }}" class="btn btn-primary">List Users</a>
            <a href="{{ url_for('add_user') }}" class="btn btn-secondary">Add User</a>
            <a href="{{ url_for('user_movies') }}" class="btn btn-success">Users Movies</a>
            <a href="{{ url_for('add_movie') }}" class="btn btn-info">Add Movie</a>
        </div>
    </div>
</body>
</html>